@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Inter', sans-serif;
}

svg:focus, .recharts-wrapper:focus, .recharts-surface:focus {
  outline: none !important;
}

svg:focus, .recharts-wrapper:focus, .recharts-surface:focus {
  outline: none !important;
}

.recharts-wrapper *:focus {
  outline: none !important;
}
